@import url(https://fonts.google.com/specimen/Outfit);
.picture{
    margin:auto;
    margin-top: 140px;
    margin-bottom:140px;
    padding:10px;
    border:50px;
    border-radius: 10px;
    border-top:10px;
    border-bottom:10px;
    display:flex;
    flex-direction:column;
    background-color:hsl(0, 0%, 100%);
    justify-content: center;
}
.container{
    display:flex;
    background-color:  hsl(220, 15%, 55%);
    font-family:"Outfit";
}
.header{
    text-align:center;
    font-weight: 400;
}
.paragraph{
    color:hsl(212, 45%, 89%);
    text-align:center;
    font-weight: 800;
    font-size: 40;
}
.diagram{
    border: 10px;
    border-radius:10px;
}